<div class="container">
    <div class="row">
        <div class="col-12 text-center" style="padding: 2pc; margin-bottom: 1vh; margin-top: 1vh">
            <h4 style="font-size: 5vh; color: whitesmoke;">
                Contáctanos
            </h4>
            <hr style="background-color: whitesmoke; margin-top: 4vh; width: 50vw">
        </div>
    </div>
</div>

<div class="container pb-3" style="background-color: whitesmoke; border-radius: 4px">

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center">
                <img class="contact-img" src="../../assets/images/profesores2.jpg">
            </div>
            <div class="col-12 col-md-6">
                <div class="container mt-5">
                    <h1>Contacto</h1>
                    <hr style="width: 25vw; float: left;">
                    <h4>Luis Germán Mena</h4>
                    <h5>
                        <i>Coordinador de Servicio Comunitario</i>
                    </h5>
                    <ul style="margin-top: 2pc">
                        <li class="listado">Correo: lmena@unimet.edu.ve</li>
                        <li class="listado">Teléfono: 0212-240.33.97</li>
                        <li class="listado">Twitter: @SC_Unimet</li>
                        <li class="listado">Facebook: Servicio Comunitario Unimet</li>
                    </ul>
                    <div class="row" style="margin-top: 2pc; margin-left: 8pc">
                        <a href="https://www.facebook.com/Servicio-Comunitario-Unimet-366878683428057/" target="_blank" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/sc_unimet?lang=en" target="_blank" class="fa fa-twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>