<div class="container">
  <div class="row">
    <div class="col-12 text-center" style="padding: 2pc; margin-bottom: 1vh; margin-top: 1vh">
      <h4 style="font-size: 5vh; color: whitesmoke;">
        Proyecto Actual
      </h4>
      <hr style="background-color: whitesmoke; margin-top: 4vh; width: 50vw">
    </div>
  </div>
</div>

<!--First project-->

<div class="container-fluid pb-3" style="width: 80vw; background-color: whitesmoke; border-radius: 4px">
  <div class="row">
    <div class="col-12">
      <!-- <div class="col-12" style="margin: 1pc;">
        <h5>Parque La Mansión - Chacao</h5>
        <h5>Trimestre 1718-03</h5>
      </div> -->

    </div>
    <div class="col-12 ">
      <div class="container" style="width:100% !important">
        <h2 class="text-center" style="margin-bottom: 5vh; margin-top: 1vh; width: 100%">
          Propuesta
          alternativa
          para el
          restablecimiento
          del uso de un
          parque como Área
          de juego y de
          actividades para
          niños
        </h2>
        <div class="col-12">
          <img  class="shadow-lg border border-dark project-image" style="height:500px" src="../../assets/images/ParqueLaMansion.jpeg">
        </div>
        <p style="font-size: 2vh">
            El Parque La Mansión  es un espacio de uso publico, un  área libre destinada a la recreación que se rige por las ordenanzas municipales, y como tal es considerado por sus dimensiones como un parque vecinal que cubre las necesidades de los sectores vecinos; en cuanto al uso esta clasificado como un parque infantil. 
            Después una década en conflicto de uso  por las diferencias que han surgido entre vecinos que se oponen al uso de los espacios del parque para la circulación, permanencia y entrenamiento de animales domésticos, y a solicitud de los actores sociales interesados, los estudiantes del Servicio Comunitario de la Universidad Metropolitana coactuando con los beneficiarios hemos desarrollado un proyecto con la idea de contribuir a la solución del conflicto y que presentamos para su consideración y estudio. 
        </p>
      </div>
      <div class="col-12 ">
          <div class="container" style="width:100% !important; width: 80vw;">
              <h5><b>Logros del proyecto</b></h5>
              <ul class="text" style="font-size: 2vh">
                <li>Presentación de un conjunto de recomendaciones para facilitar el ordenamiento del espacio y las actividades en el parque La Mansión.</li>
                <li>Siguiendo los lineamientos del aprendizaje en servicio, fue posible generar una respuesta que contribuya a la solución de un problema real.</li>
                <li>Se contribuyó a crear consciencia dentro de la comunidad para valorar el parque La Mansión como un espacio público</li>
                <li>Diseño de una propuesta como plan piloto con posibilidades de aplicación a situaciones similares.</li>
                <li>Reconocimiento de la institucionalidad como vía para resolver asuntos refereridos a los espacios públicos.</li>
              </ul>
            </div>
          </div>
    </div>
</div>

<!--GALERÍA-->

<div class="col-12">
    <div class="gallery-container">
      <ng-container *ngFor="let image of gallery">
        <img class="gallery-item ml-0" [src]="image" (click)="imageZoom(image)" >
      </ng-container>
    </div>
</div>

<app-image-modal *ngIf="showZoom" [image]="srcImageZoom" (closeZoom)="closeZoom($event)" ></app-image-modal>

<!--FIN GALERÍA-->

</div>