<div class="container">
  <div class="row">
    <div class="col-12 text-center" style="padding: 2pc; margin-bottom: 1vh; margin-top: 1vh">
      <h4 style="font-size: 5vh; color: whitesmoke;">
        LogIn
      </h4>
      <hr style="background-color: whitesmoke; margin-top: 4vh; width: 50vw">
    </div>
  </div>
</div>

<body id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div col-12 col-md-6">
        <div class="panel">
          <h2>Admin Login</h2>
          <p>Please enter your email and password</p>
        </div>
        <form id="Login">

          <div class="form-group">


            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">

          </div>

          <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Password">

          </div>
          <div class="forgot">
            <a href="reset">Forgot password?</a>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>

        </form>
      </div>
    </div>
  </div>
</body>
