.bar {
    min-height: 5vh;
}

.body {
    background-color: #343a40 !important;
    background-repeat: repeat;
    background-blend-mode: multiply;
    /* background-size: cover; */
    min-height: 90vh;
    height: 100%;
    padding-bottom: 5vh;
}
