<div class="container">
  <div class="row">
    <div class="col-12 text-center" style="padding: 2pc; margin-bottom: 1vh; margin-top: 1vh">
      <h4 style="font-size: 5vh; color: whitesmoke;">
        Proyectos Pasados
      </h4>
      <hr style="background-color: whitesmoke; margin-top: 4vh; width: 50vw">
    </div>
  </div>
</div>

<!--First project-->

<div class="container-fluid p-3" style="width: 80vw; background-color: whitesmoke; border-radius: 4px">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="col-12" style="margin: 1pc;">
        <h5>Visita a la U.E. Colegio Manuel Piar </h5>
        <h5>Trimestre 1718-02</h5>
      </div>

      <div class="col-12">
        <img class="shadow-lg border border-dark project-image" src="../../assets/images/Colegio1.jpg">
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="container">
        <h3 style="margin-bottom: 5vh; margin-top: 10vh">Acerca del proyecto:</h3>
        <h5 style="margin-bottom: 4vh">
          Se realizó una visita a la Unidad Educativa Colegio Manuel Piar para la evaluación de las condiciones en las que
            se encontraban la infraestructura del lugar, para así poder realizar un diagnóstico acerca de sus necesidades.
        </h5>
      </div>
    </div>
  </div>

<!--GALERÍA-->

<div class="col-lg-12 col-md-8">
    <div class="gallery-container">
      <div class="gallery-item" style="background-image: url('../../assets/images/Colegio1.jpg'); margin-left: 0 !important"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Colegio2.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Colegio3.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Colegio5.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Colegio6.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Colegio7.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Colegio8.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Colegio9.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Colegio4.jpg') ; margin-right: 0 !important"></div>
    </div>
  </div>

<!--FIN GALERÍA-->

</div>

<!--Second project-->

<div class="container-fluid p-3" style="width: 80vw; background-color: whitesmoke; border-radius: 4px; margin-top: 4vh; margin-bottom: 10vh">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="col-12" style="margin: 1pc;">
        <h5>Recolección de Basura - UNIMET</h5>
        <h5>Trimestre 1718-02</h5>
      </div>

      <div class="col-12">
        <img class="shadow-lg border border-dark project-image" src="../../assets/images/Uni1.jpg" >
      </div>
    </div>

    <div class="col-12 col-md-8">
      <div class="container">
        <h3 style="margin-bottom: 5vh; margin-top: 10vh">Acerca del proyecto:</h3>
        <h5 style="margin-bottom: 4vh">
          Se llevó a cabo un proceso de reciclaje de materiales de los principales departamentos de las escuelas de la
            Universidad Metropolitana. Durante esta jornada se realizaron labores de clasificación de los materiales 
            para luego ser entregados a las compañias de reciclaje.
        </h5>
      </div>
    </div>
  </div>

<!--GALERÍA-->

<div class="col-lg-12 col-md-8">
    <div class="gallery-container">
      <div class="gallery-item" style="background-image: url('../../assets/images/Uni1.jpg'); margin-left: 0 !important"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Uni2.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Uni3.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Uni9.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Uni10.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Uni4.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Uni8.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Uni6.jpg')"></div>
      <div class="gallery-item" style="background-image: url('../../assets/images/Uni5.jpg') ; margin-right: 0 !important"></div>
    </div>
  </div>

<!--FIN GALERÍA-->

</div>