<div class="container">
  <div class="row">
    <div class="col-12 text-center" style="padding: 2pc; margin-bottom: 1vh; margin-top: 1vh">
      <h4 style="font-size: 5vh; color: whitesmoke;">
        Proyectos Pasados
      </h4>
      <hr style="background-color: whitesmoke; margin-top: 4vh; width: 50vw">
    </div>
  </div>
</div>

<!--First project-->

<div class="container-fluid p-3" style="width: 80vw; background-color: whitesmoke; border-radius: 4px">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="col-12" style="margin: 1pc;">
        <h5>Visita a la U.E. Colegio Manuel Piar </h5>
        <h5>Trimestre 1718-02</h5>
      </div>

      <div class="col-12">
        <img class="shadow-lg border border-dark project-image" src="../../assets/images/Colegio1.jpg">
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="container">
        <h3 style="margin-bottom: 5vh; margin-top: 3vh">Acerca del proyecto:</h3>
        <h5 style="margin-bottom: 4vh">
          <i>“Se realizó una visita a la Unidad Educativa Colegio Manuel Piar para la evaluación de las condiciones en las que
            se encontraban la infraestructura del lugar, para así poder realizar un diagnóstico acerca de sus necesidades.”</i>
        </h5>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="gallery">
              <img class="zoom" src="../../assets/images/trick1.jpg" width="300" height="200">
              <div class="desc">El equipo transportándose</div>
            </div>
          </div>
          <div class="col">
            <div class="gallery">
              <img class="zoom" src="../../assets/images/Colegio2.jpg" width="300" height="200">
              <div class="desc">En medio de la visita</div>
            </div>
          </div>
          <div class="col">
            <div class="gallery">
              <img class="zoom" src="../../assets/images/Colegio3.jpg" width="300" height="200">
              <div class="desc">Instrucciones y charlas</div>
            </div>
          </div>
          <div class="col">
            <div class="gallery">
              <img class="zoom" src="../../assets/images/Colegio4.jpg" width="300" height="200">
              <div class="desc">Riendo y aprendiendo</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Second project-->

<div class="container-fluid p-3" style="width: 80vw; background-color: whitesmoke; border-radius: 4px; margin-top: 4vh; margin-bottom: 10vh">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="col-12" style="margin: 1pc;">
        <h5>Recolección de Basura - UNIMET</h5>
        <h5>Trimestre 1718-02</h5>
      </div>

      <div class="col-12">
        <img class="shadow-lg border border-dark project-image" src="../../assets/images/Uni1.jpg" >
      </div>
    </div>

    <div class="col-12 col-md-8">
      <div class="container">
        <h3 style="margin-bottom: 5vh; margin-top: 3vh">Acerca del proyecto:</h3>
        <h5 style="margin-bottom: 4vh">
          <i>“Se llevó a cabo un proceso de reciclaje de materiales de los principales departamentos de las escuelas de la
            Universidad Metropolitana. Durante esta jornada se realizaron labores de clasificación de los materiales 
            para luego ser entregados a las compañias de reciclaje.”</i>
        </h5>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="gallery">
              <img class="zoom" src="../../assets/images/trick2.jpg" width="300" height="200">
              <div class="desc">Organizando la actividad</div>
            </div>
          </div>
          <div class="col">
            <div class="gallery">
              <img class="zoom" src="../../assets/images/Uni2.jpg" width="300" height="200">
              <div class="desc">Todos presentan su colaboración</div>
            </div>
          </div>
          <div class="col">
            <div class="gallery">
              <img class="zoom" src="../../assets/images/Uni3.jpg" width="300" height="200">
              <div class="desc">Materiales para reciclar</div>
            </div>
          </div>
          <div class="col">
            <div class="gallery">
              <img class="zoom" src="../../assets/images/Uni4.jpg" width="300" height="200">
              <div class="desc">Trabajando para lograr los objetivos</div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>