<div class='container'>
  <div class="row">
      <div class="col-12 text-center" style="padding: 2pc; margin-bottom: 1vh; margin-top: 1vh">
          <h4 style="font-size: 5vh; color: whitesmoke;">
            ¿Quiénes Somos?
          </h4>
          <hr style="background-color: whitesmoke; margin-top: 4vh; width: 50vw">
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="col-12 text-center" style='min-height:20vw; border-radius:0.5vw; background-color: whitesmoke; padding: 1pc'>
          <h3> Misión </h3>
          <hr style="border-width:1vw">
          <hr style="border-width:1vw">
          <hr style="border-width:1vw">

            <img src="../../assets/images/comunidad.jpg" height="300" style="margin: 1pc; border-radius: 4px">

      </div>
    </div>
    <div class="col-6">
      <div class="col-12 text-center" style='min-height:20vw; border-radius:0.5vw; background-color: whitesmoke; padding: 1pc'>
          <h3> Visión </h3>
          <hr style="border-width:1vw">
          <hr style="border-width:1vw">
          <hr style="border-width:1vw">

            <img src="../../assets/images/tierra.jpg" height="300" style="margin: 1pc; border-radius: 4px">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
        <h4 style="font-size: 4vh; color: whitesmoke; margin-top: 5vh">
            Cronograma del Trimestre
          </h4>
          <hr style="background-color: whitesmoke; margin-top: 4vh; width: 40vw">
    </div>
  </div>

</div>