<div class='container'>
  <div class="row">
    <div class="col-12 text-center">
      <h2>
        ¿Quiénes Somos? 
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="col-12 text-center" style='min-height:20vw;border: 0.1vw dotted grey; border-radius:0.5vw'>
          <h3> Misión </h3>
          <hr style="border-width:1vw">
          <hr style="border-width:1vw">
          <hr style="border-width:1vw">
      </div>
    </div>
    <div class="col-6">
      <div class="col-12 text-center" style='min-height:20vw;border: 0.1vw dotted grey; border-radius:0.5vw'>
          <h3> Visión </h3>
          <hr style="border-width:1vw">
          <hr style="border-width:1vw">
          <hr style="border-width:1vw">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <h2>
        Cronograma del trimestre
      </h2>
    </div>
  </div>

</div>