
<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="height: 100%; width: 100%">
      <carousel>
        <slide>
          <img class="img-fluid" src="../../assets/images/new2.jpg" style="max-width: 100%;">
        </slide>
        <slide>
          <img class="img-fluid" src="../../assets/images/good2.jpg" style="max-width: 100%;">
        </slide>
        <slide>
          <img class="img-fluid" src="../../assets/images/good1.jpg" style="max-width: 100%;">
        </slide>
        <slide>
          <img class="img-fluid" src="../../assets/images/good3.jpg" style="max-width: 100%;">
        </slide>
      </carousel>
    </div>
  </div>
</div>


<div class="container intro">
    <div class="col-12 text-center">
      <h4 style="font-size: 5vh; color: whitesmoke">
        Más que un servicio, un viaje
      </h4>
    </div>
    <div class="col-12 text-center">
      <h4 style="color: whitesmoke">
        <i>Forma parte de la experiencia</i>
      </h4>
    </div>
</div>


  <div class="container info">
  <div class="row">
    <div class="col-12">
        <img src="../../assets/images/grupoCompleto.jpeg" alt="Grupo Completo" style="display: block; width: 100%; max-height: 70vh">
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center" style="padding: 1pc; margin-bottom: 2pc; margin-top: 1pc">
      <h4 style="font-weight: bold; font-size: 4vh">
        <i>Testimonios</i>
      </h4>
    </div>

    <div class="container-fluid row justify-content-around" style="margin-left: 2pc; margin-right: 2pc">
    <!--Card 1-->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card text-white mb-3" style="max-width: 18rem; background-color: #FF8722">
        <div class="card-header">
          <img src="../../assets/images/hugh.jpg" style="border-radius: 50%; height: 25vh">
        </div>
        <div class="card-body">
          <h5 class="card-title">Jhon Denver</h5>
          <p class="card-text">"El trabajo de este grupo de emprendedores es impresionante e inspirador."</p>
        </div>
      </div>
    </div>
    <!--Card 2-->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <img src="../../assets/images/alex.jpg" style="border-radius: 50%; height: 25vh">
        </div>
        <div class="card-body">
          <h5 class="card-title">Alexa Midstone</h5>
          <p class="card-text">"El mundo necesita más personas que, como ellos, se dediquen al bienestar de la comunidad."</p>
        </div>
      </div>
    </div>
    <!--Card 3-->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card text-white mb-3" style="max-width: 18rem; background-color: #FF8722">
        <div class="card-header">
          <img src="../../assets/images/brad.jpg" style="border-radius: 50%; height: 25vh">
        </div>
        <div class="card-body">
          <h5 class="card-title">Eliot Killian</h5>
          <p class="card-text">"Me maravilla que tengan la iniciativa de realizar actividades en pro de la comunidad."</p>
        </div>
      </div>
    </div>

    </div>


  </div>
</div>
