
<div class="container-fluid home-slider d-none d-md-block">
  <div class="row">
    <div class="col-12 p-0" style="height: 100%; width: 100%">
      <carousel>
        <slide>
          <img class="img-fluid" src="../../assets/images/metropolitanaSS.jpg" style="max-width: 100%;">
        </slide>
      </carousel>
    </div>
  </div>
</div>


<div class="container intro">
    <div class="col-12 text-center">
      <h4 style="font-size: 5vh; color: whitesmoke">
        APRENDIZAJE EN SERVICIO
      </h4>
    </div>
    <div class="col-12 text-center">
      <h3 style="color: whitesmoke">
        <i>Vive la experiencia</i>
      </h3>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center" style="padding: 0">
      <div style="background-color: whitesmoke; border-radius: 4px;padding: 20px;">
        <h4> Fundamentos del proyecto. </h4>
        <p>Se pretende que mediante la realización de un proyecto, actuando en equipos interdisciplinarios, el estudiante integre y aplique conocimientos generando  planteamientos novedosos que contribuyan  a la resolución de problemas concretos que afecten a las comunidades.En el marco del servicio comunitario de la Universidad Metropolitana  el Proyecto Redes de Infraestructura tiene como propósito:</p>
        <br>
        <i><b>Propiciar conocimientos y estrategias para la formulación de proyectos orientados al acondicionamiento del espacio físico con el propósito de elevar los estándares de calidad de vida de las comunidades atendidas.</b></i>
      </div>
      <hr style="background-color: whitesmoke; margin-top: 4vh; width: 50vw">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 text-center" >
      <div style="background-color: whitesmoke; border-radius: 4px;padding: 20px;">
        <h4> ¿Quiénes Somos? </h4>
        <p>Somos un grupo de estudiantes del Proyecto de Servicio Comunitario "Redes e Infraestructura" de la Universidad Metropolitana, con el compromiso de formular, conjuntamente con las comunidades, proyectos para contribuir al mejoramiento del espacio físico y de la calidad de vida de las comunidades.</p>
      </div>
    </div>
    <div class="col-6 text-center" >
      <div style="background-color: whitesmoke; border-radius: 4px;padding: 20px;">
        <h4> Propósito del proyecto </h4>
        <br>
        <p>Propiciar conocimientos y estrategias para la formulación de proyectos orientados al acondicionamiento del espacio físico, con el propósito de elevar los estándares de calidad de vida de las comunidades atendidas.</p>
      </div>
    </div>
  </div>
</div>
<hr style="background-color: whitesmoke; margin-top: 4vh; width: 50vw">
<div class="container info">
  <div class="row">
    <div class="col-12 mt-3">
        <img class="img-group" src="../../assets/images/grupoCompleto.jpeg" alt="Grupo Completo">
    </div>
  </div>

</div>
