<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h4>
        Mira Nuestras experiencias
      </h4>
    </div>
    <div class="col-12" style="min-height:20vw;border:solid 0.1vw grey">
      <carousel>
        <slide>
          <img [src]="images[0]" alt="first slide" style="display: block; width: 100%;max-height:22vw;max-width:100%">
        </slide>
        <slide>
          <img [src]="images[1]" alt="second slide" style="display: block; width: 100%;max-height:22vw;max-width:100%">
        </slide>
        <slide>
          <img [src]="images[2]" alt="third slide" style="display: block; width: 100%;max-height:22vw;max-width:100%">
        </slide>
      </carousel>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <h4>
        Más que un servicio, un viaje
      </h4>
    </div>
    <div class="col-12" style="min-height:20vw; background-color:skyblue;border:solid 0.5vw grey">
        <img src="../../assets/images/grupoCompleto.jpeg" alt="Grupo Completo" style="display: block; width: 100%;max-height:22vw;max-width:100%">
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <h4>
        Testimonios
      </h4>
    </div>

    <div class="col-4" style="min-height:20vw; background-color:aquamarine">
      <div class="row">
        <div class="offset-3 col-6 text-center">
          <div class='' style="border-radius: 50% ; border:0.5vw solid grey ;min-height: 8vw;min-width: 100%;" >

          </div>
        </div>
        <div class="offset-2 col-8 text-center">
            <hr style="border-width:1vw">
            <hr style="border-width:1vw">
            <hr style="border-width:1vw">
        </div>
      </div>
    </div>
    <div class="col-4" style="min-height:20vw; background-color:yellow">
      <div class="row">
        <div class="offset-3 col-6 text-center">
          <div class='' style="border-radius: 50% ; border:0.5vw solid grey ;min-height: 8vw;min-width: 100%;" >

          </div>
        </div>
        <div class="offset-2 col-8 text-center">
            <hr style="border-width:1vw">
            <hr style="border-width:1vw">
            <hr style="border-width:1vw">
        </div>
      </div>
    </div>
    <div class="col-4" style="min-height:20vw; background-color:aquamarine">
      <div class="row">
        <div class="offset-3 col-6 text-center">
          <div class='' style="border-radius: 50% ; border:0.5vw solid grey ;min-height: 8vw;min-width: 100%;" >

          </div>
        </div>
        <div class="offset-2 col-8 text-center">
            <hr style="border-width:1vw">
            <hr style="border-width:1vw">
            <hr style="border-width:1vw">
        </div>
      </div>
    </div>
  </div>
</div>

